[
    {config, [
        #{
            files => ["apps/**/src/*.erl"],
            ruleset => erl_files,
            rules =>
                [
                    {elvis_style, operator_spaces, disable},
                    {elvis_style, no_invalid_dynamic_calls, disable},
                    {elvis_style, dont_repeat_yourself, disable},
                    {elvis_style, no_throw, disable}
                ]
        },
        #{
            files => ["rebar.config"],
            ruleset => rebar_config
        }
    ]},
    {output_format, parsable}
].
