name: Test

on:
  workflow_call:

  push:
    branches: [main]

  pull_request:
    branches: [main]

concurrency:
  group: test-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test-erlang:
    runs-on: ubuntu-22.04
    env:
      ERL_FLAGS: "-enable-feature all"
      OTP_VERSION: "27"
      REBAR3_VERSION: "3.24.0"
    steps:
      - name: Check out repository
        uses: actions/checkout@v6

      - name: Setup Erlang/OTP and rebar3
        uses: erlef/setup-beam@v1
        with:
          otp-version: ${{ env.OTP_VERSION }}
          rebar3-version: ${{ env.REBAR3_VERSION }}

      - name: Restore _build folder
        uses: actions/cache@v4
        with:
          path: _build
          key: "_build-cache-for\
            -otp-${{ env.OTP_VERSION }}\
            -rebar3-${{ env.REBAR3_VERSION }}\
            -hash-${{ hashFiles('rebar.lock') }}"

      - name: Restore rebar3's cache
        uses: actions/cache@v4
        with:
          path: ~/.cache/rebar3
          key: "rebar3-cache-for\
            -otp-${{ env.OTP_VERSION }}\
            -rebar3-${{ env.REBAR3_VERSION }}\
            -hash-${{ hashFiles('rebar.lock') }}"

      - name: Run EUnit tests
        run: |
          rebar3 eunit --cover

      - name: Generate covertool
        run: |
          rebar3 covertool generate

      - name: Collect coverage files
        id: coverage_files
        run: |
          files=$(ls _build/test/covertool/*.covertool.xml)
          list=$(printf "%s," $files)
          list=${list%,}
          echo "files=$list" >> "$GITHUB_OUTPUT"

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          files: ${{ steps.coverage_files.outputs.files }}
          flags: erlang
          fail_ci_if_error: false
          token: ${{ secrets.CODECOV_TOKEN }}
